@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cardProfil {
    position: relative;
    background-color: #9DD2CB;
    width: 500px;
    height: 265px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 2em;
    border-radius: 1em;
    border: solid rgba(80, 80, 80, 0.5) 1px;
}

.avatar
{
    width: 9em;
    border-radius: 50%;
    margin: 2em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.096);
}

.cardProfil h3 
{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 30px;
    color: white;
}

.cardProfil p 
{
    position: absolute;
    top: 100px;
    right: 125px;
    font-size: 20px;
    color: white;
}

.cardProfil #infos
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 1em;
    width: 500px;
    height: 4em;
}

.cardProfil ul
{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 500px;
    height: 4em;
    border-radius: 1em;
}
.cardProfil .info
{
    display: inline;
    width: 500px;
    height: 5em;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 2em;
}

.cardTitle {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #00828F;
    width: 1100px;
    height: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 2em;
    border-radius: 1em;
    border: solid rgba(80, 80, 80, 0.5) 1px;
}

.cardTitle h1
{
    position: absolute;
    top: 25px;
    right: 250px;
    color: white;
}

.cardQuali {
    position: absolute;
    top: 112px;
    right: 0px;
    background-color: #EDF6F9;
    width: 1100px;
    height: 153px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 2em;
    border-radius: 1em;
    border: solid rgba(80, 80, 80, 0.5) 1px;
}

.cardQuali #qualiUlImg
{
    position: absolute;
    top: 40px;

    /* background-color: pink; */
}

.cardQuali #qualiUlImg li {
    margin-right: 6em;
    margin-left: 5em;
}

#qualiUlImg .fas  {
    font-size: 48px;
}

#qualiUlImg .far{
    font-size: 48px;
}

#infos .fas  {
    font-size: 30px;
}

#infos .fab {
    font-size: 30px;
}

.cardQuali #qualiUlImg .qualiImg
{
    display: inline;
    width: 1000px;
    height: 5em;
    margin-top: 2em;
}

.cardQuali #qualiUlTxt
{
    position: absolute;
    bottom: 10px;
    left: 7px;
    /* background-color: blue; */
}

.cardQuali #qualiUlTxt .qualiTxt
{
    display: inline;
    width: 1000px;
    height: 5em;
    padding-right: 4em;
    padding-left: 4em;
    margin-top: 2em;
}

.cardSkills
{
    position: absolute;
    top: 280px;
    left: 0px;
    background-color: #004B52;
    width: 500px;
    height: 570px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 2em;
    border-radius: 1em;
    border: solid rgba(80, 80, 80, 0.5) 1px;
}

.cardSchool
{
    position: absolute;
    top: 280px;
    right: 0px;
    background-color: #F6E6DE;
    width: 1100px;
    height: 277px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 2em;
    border-radius: 1em;
    border: solid rgba(80, 80, 80, 0.5) 1px;
}

.cardSchool h2
{
    position: absolute;
    top: 5px;
    left: 450px;
    color: rgba(80, 80, 80, 0.5);
    font-size: 30px;

}

#schools
{
    position: absolute;
    top: 40px;
    width: 100%;
}

.cardSchool #schools p
{
    border-radius: 5px;
    background-color: #EBC0AD;
    border: solid rgba(80, 80, 80, 0.5) 1px;
    margin: 1em;
    padding: 0.7em;
    color: white;
}

.cardSchool #schools p a {
    position: absolute;
    right: 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.cardWork
{
    position: absolute;
    top: 574px;
    right: 0px;
    background-color: #F6E6DE;
    width: 1100px;
    height: 277px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 2em;
    border-radius: 1em;
    border: solid rgba(80, 80, 80, 0.5) 1px;
}


.cardWork h2
{
    position: absolute;
    top: 5px;
    left: 325px;
    color: rgba(80, 80, 80, 0.5);
    font-size: 30px;

}

#works {
    position: absolute;
    top: 60px;
    width: 100%;
}

.cardWork #works p {
    border-radius: 5px;
    background-color: #EBC0AD;
    border: solid rgba(80, 80, 80, 0.5) 1px;
    margin: 1em;
    padding: 0.7em;
    color: white;
}

#worksOne {
    position: absolute;
    width: 50%;
}

#worksTwo {
    position: absolute;
    right: 0px;
    width: 50%;
}

.cardWork #works p a {
    position: absolute;
    right: 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.cardSkills progress {
    border: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
  
progress::-webkit-progress-value {
    background: #9DD2CB;
}
  
progress::-webkit-progress-bar {
    background: white;
}

.cardSkills p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

#skillsOne {
    position: absolute;
    width: 45%;
}

#skillsTwo {
    position: absolute;
    right: 20px;
    width: 45%;
}